@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

*{
    margin: 0;
    padding: 5;
    box-sizing: border-box;
    z-index: inherit;
}

section{
    margin: 0% 0% 4% 0%;
}



#shop-title-section{
    height: 200px;
    width: 100%;
}

.shop-title-content{
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-image: linear-gradient(rgba(17, 17, 17, 0.267), rgb(0, 0, 0)), url('images/further images/7.jpg');
}

.shop-title-content{
    padding-top: 4%;
    text-align: center;
    width: 100%;
}

.shop-title-content h1{
    font-size: 300%;
}




.shop-title-content a{
    text-decoration: none;
    color: #fff;;
}

.shop-title-content a:hover{
    text-decoration: underline;
    color: #fff;
}











#shop-section{
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    padding: 2% 4% 8% 4%;
}








#categories-sorting-section{
    flex-basis: 20%;
    padding: 0% 4% 0% 0%;
    border-right: 1px solid black;
    position: sticky;
    top: 120px;
    bottom: 0;
    height: 100%;
}

#categories-sorting-section h6{
    padding: .5% 2%;
}

#category-selector{
    margin: 8% 0%;
}

.category-selector-inner{
    margin: 0% 0%;
    display: flex;
    justify-content: left;
    border-bottom: 1px solid rgba(134, 134, 134, 0.342);
    padding: 2%;
}

.category-button{
    border-radius: 50%;
    height: 20px;
    width: 20px;
    padding: 3%;
    margin: 2%;
}

.category-selector-inner p{
    padding: 2%;
}



#category-selector label:hover {
    background-color: rgb(255, 255, 255);
    transition-duration: .2s;
}

.pricefrom{
    display: flex;
    padding: 1%;
    flex-wrap: wrap;
}

.pricefrom p{
    flex: 45%;
}

.pricefrom input{
    flex: 45%;
}




















































#products-display-section{
    flex-basis: 80%;
    padding: 0% 0% 0% 6%;
    
}

.product-display-top{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}



#togglesidenav{
    flex-basis: 50%;
}

#toggleSideNavButton{
    padding: 1% 6%;
    border: 1px solid #000;
    width: fit-content;
    text-align: center;
    cursor: pointer;
    transition-duration: .2s;
    /* display: none; */
}

#toggleSideNavButton:hover{
    background-color: #000;
    color: #fff;
}


.dropbtn {
    background-color: #000000;
    color: white;
    padding: 1% 6%;
    font-size: 16px;
    margin-left: 69%;
    text-align: right;
    cursor: pointer;
    width: fit-content;
    transition-duration: .2s;
    border: 1px solid #000;
}


.dropdown {
    flex-basis: 50%;
    width: fit-content;
}

.dropdown-content {
    display: none;
    margin-left: 69%;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {
    background-color: #d3d3d3;
    text-decoration: none;
    color: #000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: transparent;
    color: #000;
}















#products-display{
    display: block;
}

#products-display-products1{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 0% 0%;
    
}

#products-display-products1 .cardDescription-shop{
    flex-basis: 22%;
    margin: 1%;
    /* box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.144); */
    height: 380px;
    background-color: #f3f0f0;
}

#products-display-products1 .cardDescription-shop .shop-image{
    height: 240px;
}










.add-to-cart-overlay {
    background: rgba(0, 0, 0, 0); /* Black see-through */
    color: #f1f1f1;
    transition-duration: .5s;
    color: white;
    text-align: center;
    height: 80px;
    margin-top: -8%;
    opacity: 0;
    display: flex;
}

.cardDescription-shop:hover .add-to-cart-overlay{
    opacity: 1;
    transition-duration: .5s;
}

.cardDescription-shop:hover .quick-shop-button{
    opacity: 1;
}

.add-to-cart-overlay ul{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding: 1%;
}

.add-to-cart-overlay ul li{
    margin: -1% 8%;
    display: inline-block;
}

.add-to-cart-overlay ul li img{
    color: rgb(41, 41, 41);
    transition-duration: .2s;
    transform: scale(.6);
}

.add-to-cart-overlay ul li img:hover{
    transform: scale(.8);
}



.cardDescription-shop div{
    text-align: center;
    padding: 2% 8%;
    transform: translate(0, -50%);
}

.quick-shop-button{
    color: rgb(255, 255, 255);
    background-color: rgb(19, 19, 19);
    border: 1px solid rgb(19, 19, 19);
    width: 100%;
    padding: 4% 4%;
    opacity: 0;
    transition-duration: .2s;
    transform: scale(1.2, 1.2);
    cursor: pointer;
}

.quick-shop-button:hover{
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.397);
    color: smokewhite;
}







.product-display-bottom{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 2%;
}

.previous-next-buttons{
    display: flex;
    flex: 33%;
}

.product-display-bottom-buttons{
    margin: 0% 2%;
    border: 1px solid #000;
    padding: 1% 2%;
    cursor: pointer;
    transition-duration: .2s;
}

.product-display-bottom-buttons:hover{
    background-color: #0e0e0e;
    color: #fff;
}

#showing-results{
    flex: 33%;
    text-align: right;
}

















#recommended-products{
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    padding: 4%;
    color: #424141;
    display: inline-block;
    align-items: center;
    text-align:center;
}


#recommended-title {
    margin: 0% 0% 2% 0%;
}




#recommended-contents{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: fit-content;
    justify-content: center;
}





#recommended-contents .recommended-cardDescription{
    flex-basis: 16%;
    margin: 0% 2% 0% 0%;
    height: fit-content;
}

#recommended-contents .recommended-cardDescription:hover .recommended-cardDescription .quick-shop-button{
    opacity: 1;
}

.recommended-cardDescription .add-to-cart-overlay{
    margin-top: -25%;
    width: 100%;
}

.recommended-cardDescription:hover .add-to-cart-overlay{
    opacity: 1;
    transition-duration: .5s;
}

#recommended-contents .recommended-cardDescription .recommended-image{
    height: 260px;
    width: 100%;
    margin: 1%;
}

.recommended-cardDescription .quick-shop-button{
    transform: scale(.8, .8);
}














#breadcrumb-section-shop{
    text-align: center;
    background-image: linear-gradient(rgba(80, 80, 80, 0.493), #000) ,url("images/further images/4.jpg");
    padding: 4%;
    background-position: bottom;
    background-attachment: fixed;
    margin: 0% 0% -1% 0%;
    color: #fff;
}

#breadcrumb-section-shop a{
    color: #fff;
}

#breadcrumb-section-shop a:hover{
    color: #fff;
    text-decoration: underline;
}















#newsletter-section{
    text-align: center;
    background-color: #0e0e0e;
    padding: 8%;
    background-position: center;
    background-attachment: fixed;
    margin: 0% 0% -8% 0%;
    color: #fff;
    align-items: center;
    justify-content: center;
}

.newsletter-email-area{
    display: flex;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
    margin-left: 33%;
}

#email-address {
    flex-basis: 50%;
    background-color: transparent;
    border: none;
    color: #fff;
    border-bottom: 4px solid #fff;
    padding: .5%;
}


#submit-email{
    /* border: 1px solid #fff; */
    cursor: pointer;
    padding: 1.4% 4%;
    border: 1px solid transparent;
    border-bottom: 4px solid rgba(255, 255, 255, 0);
    transition-duration: .2s;
}

#submit-email:hover{
    /* border: 1px solid #fff; */
    cursor: pointer;
    padding: 1.4% 4%;
    border: 1px solid #fff;
    border-bottom: 4px solid #fff;
}





